.resultContainer {
  padding: 0 15px 15px 10px;
  margin-bottom: 15px;
  display: flex;
}

.mapWrapper,
.listWrapper {
  width: calc(50% - 30px);
  margin: 15px;
}

.listWrapper {
  height: calc(100vh - 180px);
  overflow: auto;
}

@media screen and (max-width: 795px) {
  .resultContainer {
    flex-direction: column;
  }
  .mapWrapper,
  .listWrapper {
    width: 100%;
    margin: 8px;
  }
  .listWrapper {
    height: initial;
  }
  body {
    overflow-y: auto;
  }
}
